@font-face {
  font-family: "SB AggroOTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --orange: #ff6737;
  --black: #332c27;
}

/* 기본 font-size 설정 (16px) */
html {
  font-size: 16px;
}

/* 태블릿 크기에서의 font-size 조정 */
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
  .header-buttons {
    display: none !important;
  }
}

/* 모바일 크기에서의 font-size 조정 */
@media screen and (max-width: 580px) {
  html {
    font-size: 10px;
  }

  .cloud {
    display: none;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
body {
  background: linear-gradient(180deg, #ffe1d0 0%, #fffae2 13%);
}

#header {
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.header-title {
  font-size: 4.5em;
  color: var(--orange);
  text-align: center;
  font-family: "SB AggroOTF";
  margin-top: 8.125rem;
}

.header-title img {
  width: 4.5rem;
  height: 4.5rem;
  vertical-align: middle;
}

.header-title p {
  margin: 0.75rem;
}

.header-subtitle {
  color: #565656;
  text-align: center;
  font-family: Pretendard;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.sponsors {
  margin-top: 2.375rem;
  padding: 0 2.5rem;
}

.sponsors img {
  width: 5rem;
  height: 100%;
  margin: 1.375rem;
}

.header-buttons {
  position: relative;
  display: block;
}

.header-buttons p {
  color: #ff6737;
  text-align: center;
  font-family: "SB AggroOTF";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: inline-flex;
  padding: 0.938rem 2.58rem 0.586rem 2.58rem;
  justify-content: center;
  align-items: center;
  border-radius: 46px;
  border: 0.117rem solid #000;
  background: #fff;
}

.btn-gather {
  position: absolute;
  left: calc(113 / 1440 * 100%);
  transform: rotate(5.053deg);
}

.btn-hackathon {
  position: absolute;
  left: calc(286 / 1440 * 100%);
  top: 6.25rem;
  transform: rotate(-9.372deg);
}

.btn-together {
  position: absolute;
  left: calc(866 / 1440 * 100%);
  top: 4.375rem;
  transform: rotate(13.544deg);
}

.btn-fun {
  position: absolute;
  left: calc(861 / 1440 * 100%);
  top: 7.5rem;
  transform: rotate(-8.747deg);
}

.btn-keepitup {
  position: absolute;
  left: calc(1133 / 1440 * 100%);
  transform: rotate(-1.404deg);
}

.apply-btn-container {
  text-align: center;
  margin-top: 13rem;
}

.arrow {
  width: 2.125rem;
  height: 2.125rem;
  margin-left: 0.625rem;
}

.arrow2 {
  width: 1.125rem;
  height: 1.125rem;
  margin-left: 0.625rem;
}

.apply-btn1 {
  background-color: var(--black);
  color: white;
  padding: 1.313rem 4.125rem;
  border-radius: 44px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-family: Pretendard;
  font-size: 2.125rem;
  font-weight: 800;
}

.apply-btn {
  background-color: var(--black);
  color: white;
  padding: 1.438rem 4.5rem;
  border-radius: 60px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-family: Pretendard;
  font-size: 1.125rem;
  font-weight: 800;
}

main {
  flex: 1;
}

#introduce {
  font-family: "Pretendard";
  display: flex;
  flex-direction: column;
  font-size: 1.375rem;
  color: var(--black);
  align-items: center;
  margin: 20.25rem auto 0;
  position: relative;
}

.introduce-title {
  color: #565656;
  font-size: 1.5rem;
}

.introduce-title img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.625rem;
  vertical-align: middle;
}

.introduce-content {
  color: var(--black);
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  line-height: 140%;
}

.introduce-content p {
  margin: 0;
  margin-top: 0.5rem;
}

.rounded-text {
  padding: 0.25rem 3.25rem;
  border-radius: 60px;
  background: #ff6737;
  color: white;
  margin-right: 1.25rem;
}

#character {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin-top: 22rem;
  width: 100%;
}

.character-title,
.character-content {
  align-self: center;
  width: 100%;
}

.character-title {
  font-size: 1.563rem;
}

.character-title img {
  width: 2.063rem;
  height: 2.063rem;
  margin-right: 0.625rem;
  vertical-align: middle;
}

.character-content {
  font-size: 2.625rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  align-self: center;
  width: 100%;
}

.card {
  width: 17.889rem;
  height: 23.111rem;
  background: var(--orange);
  border-radius: 18px;
  border: 0.125rem black solid;
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.card-name {
  display: inline-flex;
  width: fit-content;
  padding: 0.875rem 1.813rem 0.625rem 1.813rem;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  background: #fff;
  margin: 1rem;
}

.card p {
  font-family: "SB AggroOTF";
  font-size: 2.14rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-character {
  margin: auto;
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
}

#schedule {
  width: 20.25rem;
  min-width: 90%;
  margin: 15.125rem auto 0;
  font-family: Pretendard;
}

.schedule-title {
  font-size: 1.563rem;
  color: #565656;
}

.schedule-title img {
  width: 4.188rem;
  height: 2.188rem;
  margin-right: 0.625rem;
  vertical-align: middle;
}

.schedule-table {
  width: 100%;
  border-radius: 16px;
  border-collapse: collapse;
  overflow: hidden;
  font-size: 1.25rem;
}

tr {
  height: 6.25rem;
}

td {
  text-align: center;
  padding: 1.625rem 2.25rem;
  border-bottom: 0.194rem solid rgba(255, 255, 255, 0.3);
}
tr:last-child td {
  border-bottom: none;
}
.label {
  background-color: var(--orange);
  color: white;
}
.value {
  background-color: var(--black);
  color: white;
}

.notification-list {
  color: #332c27;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
  margin: 1.875rem 4rem 0 4rem;
}

.notification-list li {
  margin: 0.625rem 0;
}

#timetable {
  display: flex;
  flex-direction: column;
  margin: 6.625rem auto 0;
  padding: 3.5rem;
  width: 80%;
  border-radius: 50px;
  font-family: Pretendard;
  background-color: white;
}

.timetable-title {
  font-size: 1.563rem;
  color: #565656;
}

.timetable-title img {
  width: 4.188rem;
  margin-right: 0.625rem;
  vertical-align: middle;
}

.timeline-container {
  display: flex;
  flex-direction: row;
}

#timeline {
  display: block;
  list-style: none;
  margin: 0 auto;
  margin-left: 40%;
  padding-left: 1.188rem;
  border-left: 0.125rem solid var(--black);
  font-size: 1.125rem;
}

#timeline li {
  margin: 4.25rem 0;
  position: relative;
}

.date {
  top: 50%;
  left: -7.5rem;
  line-height: 1.25rem;
  position: absolute;
}

.circle {
  top: 50%;
  left: -1.75rem;
  width: 0.5rem;
  height: 0.5rem;
  background: #614d4d;
  border: 0.313rem solid #332c27;
  border-radius: 50%;
  position: absolute;
}

.event {
  padding: 1.063rem 1.25rem 0;
}

.day {
  padding: 0.938rem 2.58rem 0.586rem 2.58rem;
  margin-top: 4.375rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.932rem;
  border: 0.117rem solid #000;
  color: #332c27;
  font-family: "SB AggroOTF";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

footer {
  background: var(--black);
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  font-family: Pretendard;
  margin-top: 14.375rem;
}

.footer-content {
  padding-top: 4rem;
  font-size: 1.5rem;
  margin-left: 10%;
}

.footer-apply {
  padding: 0 26%;
  margin-top: 8.25rem;
}

.footer-contact {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 6.25rem;
  font-size: 0.875rem;
  display: flex;
}

footer p {
  margin-top: 2.25rem;
  margin-right: 5.625rem;
}

hr {
  border: 0.063rem solid white;
  width: 95%;
  margin: 1.25rem auto;
  margin-top: 8.125rem;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-family: Pretendard;
  font-style: normal;
  font-weight: 400;
  margin-left: auto;
  text-align: right;
}

.copyright p {
  margin-right: 0;
}
